<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Max Pool Size = 512;server=.;uid=sa; pwd=esun5005;database=ESUNNET" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IVRUrl" value="http://192.168.1.78/ivr/callOutDefault.aspx" />
    <add key="RecordPath" value="D:\recordwav" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>