<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Max Pool Size = 512;server=10.6.79.24;uid=sa; pwd=jacg_2014;database=Esunnet" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="LeavePath" value="D:\leave" />
    <add key="RecordPath" value="D:\recordwav" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="timeOut" value="500" />
    <add key="Intervial" value="1000" />
    <add key="IPAddress" value="192.168.27.253 192.168.27.11" />
    <add key="IISPath" value="D:\esunnet\vxml" />
    <add key="IVRUrl" value="http://10.6.79.75:83/callout" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>